.ui-accordion .ui-accordion-header a {
                background-color: #fddb67;
                font-style: inherit;
      color: black;
            }
            
            
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
 /*    color: black; */
    text-decoration: none;
    background-color: white;
}